body {
    background:#8585e0

}

h1:hover {
    color: red;
}

h2:hover {
    border: solid blueviolet 4px;
}

p:hover {
    color: greenyellow;
    font-size: large;
    
}

p {
    font-size: x-large;
}

.column {
    float: left;
    width: 50%
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (min-width : 320px) {
    .column {
        width: 40%
    }
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}