body {
    background:#8585e0

}

h1:hover {
    color: red;
}

h2:hover {
    border: solid blueviolet 4px;
}

p:hover {
    color: greenyellow;
    font-size: large;
    
}

p {
    font-size: 2.5rem;
}

.column {
    float: left;
    width: 50%
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media (min-width: 600px;) {
p { font-size: 1.5;

}
}