body {
    background:#e6e6e6;

}

h1:hover {
    color: red;
}

h2:hover {
    border: solid blueviolet 4px;
}

p:hover {
    color: greenyellow;
    font-size: large;
    
}

p {
    font-size: x-large;
    text-indent: 10%;
    grid-area: p;
    background-color: navy;
}

h1 {
    grid-area: h1;
    background-color: blue;
}

h2 {
    grid-area: h2;
    background-color: #4457A4;
}

div {
    grid-area: div;
    background-color: #02071C;
    color: yellow;
}

body {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "h1 h1"
        "h2 h2"
        "p p"
        "div div"
}

@media (min-width : 320px) {
    
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    .body {
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 25% 25% 25%;
        grid-template-areas:
        "h1 h1"
        "h2 h2"
        "p p"
        "div div";
    }
}

@media (min-width: 1200px) {
    .body {
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 25% 25% 25%;
        grid-template-areas:
            "h1 h1"
            "h2 h2"
            "p p"
            "div div";
    }
}