body {
    background-color: #e6e6e6;
}

.larry {
    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: none;
    "quoteSmartypants quoteSmartypants quoteSmartypants quoteSmartypants"
    "textFakeLatin textFakeLatin textFakeLatin textFakeLatin"
    "myRealAddress myRealAddress myRealAddress myRealAddress";*/
}

.quoteSmartypants {
    grid-area: quoteSmartypants;
}

.textFakeLatin {
    grid-area: textFakeLatin;
    color: none;
    column-count: 2;
    column-gap: 3%;
    column-span: all;

}

.latinCode {
    color: crimson;
}

.beholder {
    color: brown;
}

.myRealAddress {
    grid-area: myRealAddress;
    color: none;
    column-count: 3;
    column-gap: 5%;
}

@media (min-width : 320px) {

}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {
    
}