body {
    background: linear-gradient(250deg, #e6e6e6 50%, #a48b00 50%);
}

section {
    background-image:none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "mainbody mainbody mainbody mainbody"
        "mainbody mainbody mainbody mainbody"
        "weatherwidget-io calculator clock checklist";
    grid-column-gap: 3%;
    grid-row-gap: 30%;
}

.mainbody {
    grid-area: mainbody;
}

.weatherwidget-io {
    grid-area: weatherwidget-io;
}

.calculator {
    grid-area: calculator;
    
}

.clock {
    grid-area: clock
}

.checklist {
    grid-area: checklist;
    display: flex;
    flex-direction: column;

}

.backgroundimage {
    /*background-image: url(none);
    background-size: 100%;*/
}

.calculator-keys {
    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "button button button button button"
        "button button button button button"
        "button button button button button"
        "button button button button button"*/

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.button {
    grid-area: button;
}

h1 {
    box-sizing: border-box;
}

.container {
    margin: 2rem auto;
    max-width: 50rem;
    text-align: center;
  }
  
  form {
    margin: 2.5rem auto;
  }
  
  .find-me.btn {
    font-family: inherit;
  }
  
  .find-me.btn,
  .not-on-https,
  .no-geolocation-support,
  .coordinates {
    font-size: 1.5em;
  }
  
  .not-on-https,
  .no-geolocation-support {
    display: none;
  }
  
  .coordinates {
    display: none;
    margin-bottom: 2.5rem;
  }
  
  .visible {
    display: block;
  }
  
  #map {
    margin: 0 auto;
    position: relative;
  }
  
  #map-canvas {
    height: 25rem;
    min-height: 25rem;
    width: 100%;
  }
  

@media (min-width : 320px) {
    
    section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "mainbody"
            "weatherwidget-io"
            "calculator"
            "clock"
            "checklist"
    }
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
    section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "mainbody mainbody mainbody"
            "weatherwidget-io weatherwidget-io weather-io"
            "calculator clock checklist"
    }

}

@media (min-width: 992px) {
    section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "mainbody mainbody mainbody mainbody"
        "weatherwidget-io calculator clock checklist";
    grid-column-gap: 3%;
    }
}

@media (min-width: 1200px) {
    section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "mainbody mainbody mainbody mainbody"
        "weatherwidget-io calculator clock checklist";
    grid-column-gap: 3%;
    }
}