section {
    background-image:none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "mainbody mainbody mainbody mainbody"
        "weatherwidget-io calculator clock checklist";
    grid-column-gap: 3%;
}

.mainbody {
    grid-area: mainbody;
}

.weatherwidget-io {
    grid-area: weatherwidget-io;
}

.calculator {
    grid-area: calculator;
    
}

.clock {
    grid-area: clock
}

.checklist {
    grid-area: checklist;
    display: flex;
    flex-direction: column;

}

.backgroundimage {
    background-image: url(../Image/bakingicon-150x150.jpg);
    background-size: 100%;
}

.calculator-keys {
    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "button button button button button"
        "button button button button button"
        "button button button button button"
        "button button button button button"*/

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.button {
    grid-area: button;
}

h1 {
    box-sizing: border-box;
}

@media (min-width : 320px) {
    
    section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "mainbody"
            "weatherwidget-io"
            "calculator"
            "clock"
            "checklist"
    }
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
    section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "mainbody mainbody mainbody"
            "weatherwidget-io weatherwidget-io weather-io"
            "calculator clock checklist"
    }

}

@media (min-width: 992px) {
    section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "mainbody mainbody mainbody mainbody"
        "weatherwidget-io calculator clock checklist";
    grid-column-gap: 3%;
    }
}

@media (min-width: 1200px) {
    section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "mainbody mainbody mainbody mainbody"
        "weatherwidget-io calculator clock checklist";
    grid-column-gap: 3%;
    }
}